<!DOCTYPE html>
<html>
<head>
	<title>Flask Buket List Application</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
	<link rel="stylesheet" type="text/css" href="../static/signup.css">
</head>
<body>
<div class="container">
	<div class="header">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li class="active"><a href="#">Logout</a></li>				
			</ul>
		</nav>
		<h3 class="text-muted">Bucket List App</h3>
	</div>

<div class="form-group">
  <label for="description">Description:</label>
  <input type="text" class="form-control" id="description">

  <label for="goal">Enter goal:</label>
  <textarea class="form-control" rows="5" id="goal"></textarea>
</div> 
<button type="button" class="btn">Add Goal</button>
<button type="button" class="btn btn-danger">Delete</button>


	<footer class="footer">
		<p>Kev Kipkemoi</p>
	</footer>
</div>
</body>
</html>