<!DOCTYPE html>
<html>
<head>
	<title>Bucket List Application</title>
	<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li class="active"><a href="#">Home</a>
					</li>
					<li><a href="showsSignUp">Sign Up</a>
					</li>
					
				</ul>
			</nav>
			<h3 class="text-muted">Bucket List Application</h3>
		</div>
		<div class="jumbotron">
			<h1>Bucket List Application</h1>
			<p class="lead"></p>
			<p><a class="btn btn-lg btn-success" href="showsSignUp">Sign Up</a></p>
		</div>

		<div class="row marketing">
			<div class="col-lg-6">
				<h4>Bucket List</h4>
				<p>A good way to keep track of your current goals with their included activities</p>
				<h4>Bucket LIst</h4>
				<P>Ba gba adurah</P>
			</div>
		</div>
	</div>
	<footer class="footer">
		<p>Kev Kipkemoi</p>
	</footer>
</body>
</html>