<!DOCTYPE html>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login Form</title>
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <section class="container">
    <div class="login">
      <h1>Login to Bucket List</h1>

      <form action="/login" method="post">
        <label>Login</label><p><input type="text" name="inputEmail"></p>
        <p><input type="password" name="inputPassword"></p>
        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
          </label>
        </p>
        <p class="submit"><input type="submit" name="commit" value="Login" method="post"></p>
      </form>
    </div>

  </body>
</html>