<!DOCTYPE html>
<html>
<head>
	<title>Flask Buket List Application</title>
	<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
	<link rel="stylesheet" type="text/css" href="../static/signup.css">
</head>
<body>
<div class="container">
	<div class="header">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li><a href="main">Home</a></li>
				<li><a href="#">Sign In</a></li>
				<li class="active"><a href="#">Sign Up</a></li>				
			</ul>
		</nav>
		<h3 class="text-muted">Bucket List App</h3>
	</div>

	<div class="jumbotron">
		<h1>Bucket List App</h1>
		<form class="form-signin" action="/signup" method="post">
		<label for="inputName">Name</label>
		<input type="name" name="inputName" id="inputName" class="form-control" required autofocus>
		
		<label for="inputEmail">Email address</label>
		<input type="email" name="inputEmail" id="inputEmail" class="form-control" required autofocus>

		<label for="inputUsername">User Name</label>
		<input type="name" name="inputuserName" id="inputUsername" class="form-control" required autofocus>
		
		<label for="inputPassword">Password</label>
		<input type="password" name="inputPassword" id="inputPassword" class="form-control" required>

		<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
			
		</form>
	</div>

	<footer class="footer">
		<p>Kev Kipkemoi</p>
	</footer>
</div>
</body>
</html>